section img{
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.5));
    view-timeline-name: --reveling-image;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveling-image;
    animation-range: entry 25% cover 50%;
}
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
.nav {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: 600;
  }
  .nav * {
    box-sizing: border-box;
    transition: all .85s ease;
  }
  .nav li {
    display: inline-block;
    list-style: outside none none;
    margin:  1.em;
  }
  .nav a {
    padding: .5em .8em;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #D91818;
    border-right: 3px solid #D91818;
    transform: translate(-100%, 50%);
  }

  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #D91818;
    border-left: 3px solid #D91818;
    transform: translate(100%, -50%)
  }
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  .nav a:hover {
    color: #D91818;
  }
footer{
  background: transparent;
  backdrop-filter: blur(10px);
}