section{
    display: flex;
    width: 1689px;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
h2{
    margin-left: 10px;
    margin-right: 10px;
    color: #0D0D0D;
}
.nav {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: 600;
  }
  .nav * {
    box-sizing: border-box;
    transition: all .85s ease;
  }
  .nav li {
    display: inline-block;
    list-style: outside none none;
    margin:  1.em;
  }
  .nav a {
    padding: .5em .8em;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  .nav a::before,
  .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #D91818;
    border-right: 3px solid #D91818;
    transform: translate(-100%, 50%);
  }

  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #D91818;
    border-left: 3px solid #D91818;
    transform: translate(100%, -50%)
  }
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  .nav a:hover {
    color: #D91818;
  }
  .cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #dc1414;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #dc1414;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #dc1414;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #dc1414;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
 }
 
 button::before,
 button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 button::before {
  left: -10px;
  background: #df5151;
 }
 
 button::after {
  right: -10px;
  background: #dc1414;
 }
 
 button:hover::before,
 button:hover::after {
  width: 58%;
 }
 
 button:hover span {
  color: #dc1414;
  transition: 0.3s;
 }
 
 button span {
  color: #000000;
  font-size: 18px;
  transition: all 0.3s ease-in;
 }
  